:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --grey-text-cl: #757575;
    --black-text-cl: #212121;
    --white-text-cl: #FFFFFF;
    --accent-cl: #2196F3;
    --items-cl: #AFB1B8;

     /* background-color: ; */
     --white-bg-cl:#FFFFFF;
     --black-bg-cl: #2F303A;
     --grey-bg-cl: #F5F4FA;
     --card-ov-bg: rgba(33, 150, 243, 0.9);

        /* border-color */
        --border-cl: #ECECEC;

     --card-gap: 30px;
     --card-item: 4;       
     
     /* animation */

     --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--main-font);
    color: var(--grey-text-cl);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

h1,h2,h3,h4,p {
        margin: 0;
}

ul,ol {
        margin: 0;
        padding: 0;
}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

.container {
        padding-left: 15px;
        padding-right: 15px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
}

.card-set {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--card-gap));
        margin-top: calc(-1 * var(--card-gap));
        }

.card-item {
        margin-left: var(--card-gap);
        margin-top: var(--card-gap);
        flex-basis: calc(100% / var(--card-item) - var(--card-gap));
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
}

.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        display: flex;
        justify-content: center;
}

.logo {
    color: var(--accent-cl);
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    }

.logo__text--upper {
    color: #000000;
}

.logo__text--lower {
    color: var(--white-text-cl);
}

.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    border-bottom: 1px solid var(--border-cl);
}

.header__container {
        display: flex;
        align-items: center;
}

.nav__list {
        display: flex;
        align-items: center;
        gap: 50px;

    color: var(--black-text-cl);
}

.header__contact-list {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-left: auto;
}

.nav__link {
        display: flex;
        position: relative;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color var(--animation);
}
.header__contact-link {
        display: flex;
        position: relative;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color var(--animation);
}


.header__logo {
        margin-right: 93px;
}

.nav__link:hover,
.nav__link:focus {
        color: var(--accent-cl);        
}

.header__contact-link:hover,
.header__contact-link:focus {
        color: var(--accent-cl);        
}

.nav__link--current-page {
        color: var(--accent-cl);        
}

.nav__link--current-page::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -1px;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: var(--accent-cl);
        border-radius: 2px;
}

.header__icon {
        margin-right: 10px;
        fill: currentColor;
}

.overlay {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
        url(../images/hero/Img.jpg);
}

.hero {
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;

        background-color: var(--grey-text-cl);
}

.hero__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-text-cl);
        max-width: 696px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
}

.btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--white-text-cl);
        box-shadow: 0px 4px 4px 
        rgba(0, 0, 0, 0.15);
        background-color: var(--accent-cl);
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        padding: 9px 32px;
        border: none;
        min-width: 200px;

        transition: background-color var(--animation);
}

.hero__btn {
       margin: 0 auto; 
}

.btn:hover,
.btn:focus {
         background-color: #188CE8;
}

.section {
        padding-top: 94px;
        padding-bottom: 94px;
}


.title {
        color: var(--black-text-cl);
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.about__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
}

.about__thumb {
        display: flex;
        background-color: var(--grey-bg-cl);
        border-radius: 4px;
        margin-bottom: 30px;
        
        height: 120px;
        justify-content: center;
        align-items: center;
}

.work {
        padding-top: 0;
}

.work__thumb {
        position: relative;
}

.work__desc {
        position: absolute;
        bottom: 0;
        left: 0;

        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        
        display: flex;
        justify-content: center;
}

.work__text-desc {
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--white-text-cl);
}

.work__list {
        --card-item: 3;
}

.work__section-title {
        margin-bottom: 50px;
}

.team__content {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;

        background: var(--white-bg-cl);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.team__section-title {
        margin-bottom: 50px;
}

.team__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
}

.team__text {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
}

.team {
         background-color: var(--grey-bg-cl);
}

.footer {
        background-color: var(--black-bg-cl);
        padding-top: 60px;
        padding-bottom: 60px;
}

.footer__contacts {
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
}

.footer__container {
        display: flex;
        gap: 70px;
        align-items: baseline;
}

.footer__logo {
        display: inline-block;
        margin-bottom: 20px;
}

.footer__list {
        margin-bottom: 9px;
}

.footer__list:last-child {
        margin-bottom: 0;
}

.footer__link--transparent {
        transition: color var(--animation);
}

.footer__link--transparent:hover,
.footer__link--transparent:focus {
        color: var(--white-text-cl);
}

.footer__link {
         color: var(--white-text-cl);
}

.radio-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--black-text-cl);
        background-color: var(--grey-bg-cl);
        cursor: pointer;
        text-align: center;
        border-radius: 4px;
        border: none;
        padding: 5px 22px;

        transition: color var(--animation),
         background-color var(--animation), 
        box-shadow var(--animation);
}

.portfolio__list {
        gap: 8px;
        
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
}

.radio-btn:hover,
.radio-btn:focus {
color: var(--white-text-cl);
background-color: var(--accent-cl);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.radio-btn--current {
color: var(--white-text-cl);
background-color: var(--accent-cl);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
        --card-item: 3;
}

.projects__content {
        padding-top: 20px;
        padding-left: 24px;
        padding-bottom: 20px;
        padding-right: 24px;
        border-top: none;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
}
.projects__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--black-text-cl);
        margin-bottom: 4px;
}

.portfolio__desc {
        font-size: 16px;
        line-height: 1.88;
}

.projects__link {
        display: block;

        transition: box-shadow var(--animation);
        
}

.projects__link:hover,
.projects__link:focus {
        box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
         
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
transform: translateY(0);
}


.projects__card {
        position: relative;
        overflow: hidden;
}

.projects__overlay {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateY(100%);

        width: 100%;
        height: 100%;
        background-color: var(--card-ov-bg);

        transition: transform var(--animation);
}

.projects__text {
        font-size: 18px;
        line-height: 1.55;
        padding: 63px 24px;
        color: var(--white-text-cl);
}

.socials {
        display: flex;
        justify-content: center;
        gap: 10px;

}

.socials__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: var(--items-cl);

        transition: fill var(--animation), 
        background-color var(--animation);
}

.socials__link:hover,
.socials__link:focus {
        fill: var(--white-bg-cl);
        background-color: var(--accent-cl);
}

.clients__section-title {
        margin-bottom: 50px;
}

.clients__list {
        display: flex;
        --card-item: 6;
}

.clients__link{
        display: flex;
        border: 1px solid currentColor;
        border-radius: 4px;
        
        height: 92px;
        align-items: center;
        justify-content: center;
        color: var(--items-cl);

        transition: color var(--animation);
}

.clients__icon {
        fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
        color: var(--accent-cl);
      
}

.form {
        display: flex;
        gap: 12px;
}

.footer__box:last-child {
        margin-left: auto;
}

.footer__text {
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: var(--white-text-cl);
        margin-bottom: 20px;
}

.footer__socials {
        background-color: rgba(255, 255, 255, 0.1);
        fill: var(--white-text-cl);
}

.form__input {
        background-color: transparent;
        padding: 15px 16px;
        width: 358px;
        height: 50px;
        color: var(--white-text-cl);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: 
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
}

.form__input::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.footer__btn {
        margin: 0 auto;
        padding: 10px 28px;
        gap: 10px;      
}

                /* modal window  */

.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.2);

        opacity: 1;
        transition: opacity var(--animation), 
        visibility var(--animation);
       }                

       .backdrop--is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
       }

       .backdrop--is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.3);
       }

.modal {
        position: absolute;
        min-width: 528px;
        min-height: 581px;
        top: 50%;
        left: 50%;

        padding: 40px;

        transform: translate(-50%, -50%) scale(1);

        transition: transform var(--animation), 
        visibility var(--animation);

        background-color: var(--white-bg-cl);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
}

.modal__btn {
        position: absolute;
        top: 8px;
        right: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0;
        cursor: pointer;

        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--white-bg-cl);

        transition: fill var(--animation);
}

.modal__btn:hover,
.modal__btn:focus {
        fill: var(--accent-cl);
}

.register-form {
        text-align: center;
}

.register-form__title {
        display: block;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: calc(23 / 20);
        text-align: center;
        letter-spacing: 0.03em;
        
        color: var(--black-text-cl);
}

.register-form__group {
        margin-bottom: 20px;
}

.register-form__wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
}

.register-form__box {
        position: relative;
}

.register-form__wrap:last-child {
        margin-bottom: 20px;
}


.register-form__input:focus,
.register-form__input:hover {
        border-color: var(--accent-cl);
}

.register-form__Commentary:focus, 
.register-form__Commentary:hover {
        border-color: var(--accent-cl);
}

.register-form__input:focus + .register-form__icon, 
.register-form__input:hover + .register-form__icon {
        fill: var(--accent-cl);
}

.register-form__label {
        display: block;
        text-align: left;
        margin-bottom: 4px;

        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        
        color: var(--grey-text-cl);
}

.register-form__input {
        width: 100%;
        height: 40px;
        border: 
        1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px;
        padding-left: 42px;

        outline: transparent;

        transition: border-color var(--animation);
}

.register-form__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;

        transition: fill var(--animation);
}

.register-form__Commentary {
        width: 100%;
        height: 120px;
        border:
        1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px 16px;

        outline: transparent;
        resize: none;

        transition: border-color var(--animation);
}

textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        
        color: rgba(117, 117, 117, 0.5);
}

.register-form__agreement {
         margin-bottom: 30px;
        }

.agreement {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        cursor: pointer;
}

.agreement__text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;

        user-select: none;
        text-underline-position: under;
}

.agreement__link {
        color: var(--accent-cl);
}

.agreement__icon--uncheck {
        transition: fill var(--animation);
}

.agreement__icon--check {
        opacity: 0;
        transition: opacity var(--animation); 
}

.agreement__checkbox:checked + .agreement__icon .agreement__icon--uncheck {
        opacity: 0;
        transition: opacity var(--animation);
}

.agreement__checkbox:focus + .agreement__icon .agreement__icon--uncheck,
.agreement__checkbox:hover + .agreement__icon .agreement__icon--uncheck {
        fill: var(--accent-cl);
}

.agreement__checkbox:checked + .agreement__icon .agreement__icon--check {
        opacity: 1;
        }

.register-form__btn {
        margin: 0 auto;
}